body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    padding: 0px;
    margin: 0px; /*add this to fill the background color*/
}
.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 60px;
}
a ,
.left-below p{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.header div {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 60px;
    font-weight: 900;
}

.below{
    display: flex;
    background-color: #1F2937;
    padding: 20px;
    padding-bottom: 40px;
    justify-content: center;
    gap: 35px;
}
.left-below {
    flex: 1;
    max-width: 350px; /*added a max so they will not take much space same for img*/
}
img {
    flex: 1;
    max-width: 350px; 
    border-radius: 4px;
}
h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: -10px;
}
.below button {
    background-color: #3882F6;
    border-radius: 4px;
    color: #E5E7EB;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    

    font-weight: 700;
    border-width: 0px;
}
.left-below p {
    margin-bottom: 5px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    
}
.cards {
    display: flex;
    max-width: 550px;
    gap: 20px;
    height: 250px; /*max height wont work*/
}
.card div {
    border: #3882F6 solid 2px;
    border-radius: 4px;
}
.card {
    display: flex;
    flex-direction: column;
    
}
.card div,
.card p {
    flex: 1;
}
.card p {
    margin-left: 10px;
}
.down {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic; 
    font-weight: 300;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;   
}
.quote {
    display: flex;
    flex-direction: column;
    max-width: 500px; 
}
.name {
    align-self: end;
    margin-top: -30px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 700; 
}
.sign {
    background-color: #3882F6; /* max width is unnecessary use normal width*/
    align-self: center;
    width: 400px;
    margin: 60px;
    padding: 30px 100px;
    color: #F9FAF8;
    border-radius: 4px;
    display: flex;
    justify-content: space-between; /* why it doesnt work (because you targeting the content box and have big padding)*/
   
}
.sign button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: 700;
    border-radius: 4px;
    border: #F9FAF8 solid 2px;
    padding: 1px 11px; 
}
.head {
    font-weight: 700;
    font-size: 18px;
}
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

